PORT=3000
MOCK_MODE=true


# tạp .env theo cấu trúc này dựa theo Host, Port,passport của các server trên máy của bạn 
# HUE - Port 1401
HUE_DB_HOST=localhost
HUE_DB_PORT=1401
HUE_DB_USER=sa
HUE_DB_PASSWORD=YourStrong(!)Password
HUE_DB_NAME=Store_H

# SAIGON - Port 1402
SAIGON_DB_HOST=localhost
SAIGON_DB_PORT=1402
SAIGON_DB_USER=sa
SAIGON_DB_PASSWORD=YourStrong(!)Password
SAIGON_DB_NAME=Store_SG

# HANOI - Port 1403
HANOI_DB_HOST=localhost
HANOI_DB_PORT=1403
HANOI_DB_USER=sa
HANOI_DB_PASSWORD=YourStrong(!)Password
HANOI_DB_NAME=Store_HN

# CENTRAL - Port 1404
CENTRAL_DB_HOST=localhost
CENTRAL_DB_PORT=1404
CENTRAL_DB_USER=sa
CENTRAL_DB_PASSWORD=YourStrong(!)Password
CENTRAL_DB_NAME=CentralDB

# Linked server names configured in Central SQL Server
LINKED_HUE=HUE_SERVER
LINKED_SAIGON=SG_SERVER
LINKED_HANOI=HN_SERVER
